<script>
    function manageHandleView(mCategoryId_levelTwo) {
        switch (mCategoryId_levelTwo) {
            case "381cfdd1-3c14-413d-b83a-df2cf8ad56e3"://管理系统分类
                $.getScript('/HandlebarsCompiledFile/ManagementSystem/ManagementCategory/managementCategory.hbs.js').then(() => {
                    let dataHtml = Handlebars.templates.managementCategory(managementCategoryData);
                    $("#v-pills-tabContent").html(dataHtml);
                });

                break;
            case "a442c735-4a4d-4ffd-a0dc-a8404dfcbe9b"://用户系统分类
                $.ajax({
                    type: "get",
                    url: "http://127.0.0.1:8080/STE/getUserCategory",
                    success: function (result) {
                        let userCategoryData = new Object;
                        userCategoryData.userCategoryData = result;
                        $.getScript('/HandlebarsCompiledFile/ManagementSystem/UserCategory/userCategory.hbs.js').then(() => {
                            let dataHtml = Handlebars.templates.userCategory(userCategoryData);
                            $("#v-pills-tabContent").html(dataHtml);
                        });
                    }
                });
                break;
            case "7caf0df8-5aee-4239-9dee-9efc628d0b4a"://添加新闻资讯
                $("#v-pills-tabContent").load('/ManagementSystem/News/addNews.html');
                break;
        }
    }
</script>

{{#each this}}
<div class="card">
    <div class="card-header" id="heading{{@index}}">
        <h5 class="mb-0">
            {{#if @first}}
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{@index}}" aria-expanded="true"
                aria-controls="collapse{{@index}}" style="text-decoration:none">
                {{mLevelOneName}}
            </button>
            {{else}}
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{@index}}"
                aria-expanded="false" aria-controls="collapse{{@index}}" style="text-decoration:none">
                {{mLevelOneName}}
            </button>
            {{/ if}}
        </h5>
    </div>

    <div id="collapse{{@index}}" class="collapse {{#if @first}} show {{/ if}}" aria-labelledby="heading{{@index}}"
        data-parent="#accordion">
        <div class="card-body">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {{#each mCLTwo}}
                {{#if @first}}
                <a class="nav-link active" id="{{mCategoryId}}" data-toggle="pill" href="#" role="tab"
                    aria-selected="true" onclick="manageHandleView('{{mCategoryId}}')">{{levelTwoName}}</a>
                {{else}}
                <a class="nav-link" id="{{mCategoryId}}" data-toggle="pill" href="#" role="tab" aria-selected="false"
                    onclick="manageHandleView('{{mCategoryId}}')">{{levelTwoName}}</a>
                {{/ if}}
                {{/ each}}
            </div>
        </div>
    </div>
</div>
{{/each}}

{{!-- handlebars ./ManagementSystem/ManagementIndex/leftNav.handlebars -f ./HandlebarsCompiledFile/ManagementSystem/ManagementIndex/leftNav.hbs.js --}}