{{#if forumData}}
<div class="row rounded mt-3"
    style="background-color:#f8f9fa; padding-top:1rem; padding-bottom:1rem; margin-right:5rem">
    <div class="col-2">
        <img src="{{forumData.image}}" alt="头像" class="rounded" style="width:7rem;height:7rem;" />
    </div>
    <div class="col-9">
        <h5 class="mt-1">{{forumData.name}}</h5>
        <button type="button" class="btn btn-warning">关注</button>
    </div>
</div>
{{/ if}}
{{#if forumData.topicList}}
{{#each forumData.topicList}}
<a target="_blank" href="http://127.0.0.1:8082/UserSystem/Forum/topicDetail.html?topicId={{id}}"
    style="text-decoration:none; color:#000000;">
    <div class="row rounded mt-2" style="background-color:#f8f9fa;padding-top:2%;padding-bottom:2%; margin-right:5rem">
        <div class="col">
            <div class="row">
                <div class="col-11">
                    <div class="row">
                        <div class="col">
                            <h6>{{title}}</h6>
                            <span class="text-muted">{{createTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{{/ each}}
{{/ if}}
{{!-- handlebars ./UserSystem/Forum/forumTopic.handlebars -f ./HandlebarsCompiledFile/UserSystem/Forum/forumTopic.hbs.js --}}